.image-container {
    margin-top: 20px;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2, p {
    margin-top: 20px;
    text-align: center;
  }