<div th:fragment="dependentDelete">

    <div class="container" align="center">

        <h3>Dependent Deletion</h3>

    </div>

    <div class="container">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th align="left">Dependent ID</th>
                <th align="left">Dependent Name</th>
                <th align="left">Dependent Age</th>
                <th align="left">Delete</th>
            </tr>
            </thead>
            <tr th:each="dependent : ${customer.dependents}">
                <td th:text="${dependent.dependentId}" align="left"></td>
                <td th:text="${dependent.fullName}" align="left"></td>
                <td th:text="${dependent.age}" align="left" ></td>
                <td>
                    <form th:action="@{/dependentDelete}" method="post" >
                        <input type="hidden" name="dependentId" th:value="${dependent.dependentId}"/>
                        <button type="submit" value="Submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>