<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

  .thead-dark{ th{color:#fff;background-color:#212529;border-color:#32383e} }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/customer">Magic Med-Bed</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/customerInfo">Customer info</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dependents <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/dependentRegister">Register Dependent</a></li>
                        <li><a href="/dependentDelete">Remove Dependent</a></li>
                        <li><a href="/dependentView">View Dependents</a></li>
                    </ul>
                </li>
                <li><a href="orderCreate">Create Order</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Signed in as: <span th:text="${customer.email}"></span></a></li>
                <li><a href="javascript: document.logoutForm.submit()" role="menuitem"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</nav>

<div th:replace="~{@{'fragments/' + ${content}} :: ${content}}"></div>

</body>
</html>
